.mathContainer {
  width: 500px;
  border: 2px solid rgb(231, 46, 83);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px gray;
  background-color: rgb(253, 228, 233);
}

.mathContainer > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  border: 2px solid rgb(231, 46, 83);
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(255, 249, 250);
  box-shadow: 2px 2px 2px gray;
  width: 100%;
}
